@keyframes lefttoright {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes righttoleft {
  0% {
    opacity: 0;
    transform: translateX(50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes btntop {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
*, ::after, ::befor {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  padding: 5rem;
  background-color: #ffffff;
}

.container {
  background-color: rgb(247, 247, 247);
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #777777;
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
}

.title-first {
  color: #ffffff;
  animation-timing-function: ease;
}
.title-first__main {
  display: block;
  font-size: 5rem;
  font-weight: 800;
  line-height: 6rem;
  letter-spacing: 1rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  animation-name: lefttoright;
  animation-duration: 5s;
  backface-visibility: hidden;
}
.title-first__secondary {
  display: block;
  font-size: 4rem;
  font-weight: 100;
  line-height: 4.8rem;
  letter-spacing: 0.5rem;
  animation-name: righttoleft;
  animation-duration: 5s;
  backface-visibility: hidden;
  margin-bottom: 5rem;
}

.title-secondary {
  font-size: 3.6rem;
  letter-spacing: 1rem;
  text-align: center;
  font-weight: 800;
  background: linear-gradient(90deg, rgba(186, 133, 84, 0.7) 0.033%, #A14F03 99.941%);
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.4s;
  backface-visibility: hidden;
}
.title-secondary:hover {
  transform: scale(1.2);
  text-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
}
.title-secondary__header {
  padding: 8rem 0 9.5rem;
  color: white;
}
.title-secondary__margin-0px {
  margin: 0;
  text-align: left;
}
.title-secondary__margin-0px:hover {
  transform: scale(1.1);
}

.title-third {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
}

.paragraph {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.2rem;
}

.margin-bottom-80px {
  margin-bottom: 8rem;
}

.margin-bottom-50px {
  margin-bottom: 5rem;
}

.margin-bottom-30px {
  margin-bottom: 3rem;
}

.margin-bottom-10px {
  margin-bottom: 1rem;
}

.text-align-center {
  text-align: center;
}

.btn, .btn:link, .btn:visited {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  color: #777777;
  padding: 1.5rem 4rem;
  background: #ffffff;
  border-radius: 5rem;
  transition: all 0.5s;
  position: relative;
  font-size: 2rem;
  box-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.1);
  display: inline-block;
  border: none;
}
.btn:hover {
  transform: translateY(-0.4rem);
}
.btn:hover::after {
  opacity: 0;
  transform: scale(1.5);
}
.btn:active {
  transform: translateY(0.2rem);
}
.btn::after {
  content: "";
  background: #ffffff;
  width: 100%;
  height: 100%;
  border-radius: 5rem;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}
.btn_animated {
  animation: btntop 5s ease-out;
}

.btn-reserve {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.btn_brown, .btn_brown:link, .btn_brown:visited {
  color: #ffffff;
  background: #BA8554;
  letter-spacing: 0.5rem;
}
.btn_brown::after, .btn_brown:link::after, .btn_brown:visited::after {
  background: #BA8554;
}

.btn-text:link, .btn-text:visited {
  color: #777777;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.9rem;
  letter-spacing: 0.2rem;
  text-decoration: none;
  padding: 1rem;
  border-bottom: 0.1rem #A14F03 solid;
  display: inline-block;
}
.btn-text:hover {
  color: #ffffff;
  background: #BA8554;
}

.composition {
  position: relative;
}
.composition__photo {
  width: 55%;
  position: absolute;
  transition: all 0.3s;
  z-index: 10;
}
.composition__photo_n1 {
  top: 0;
  left: 2rem;
}
.composition__photo_n2 {
  top: 2rem;
  right: 0rem;
}
.composition__photo_n3 {
  top: 15rem;
  left: 10rem;
}
.composition__photo:hover {
  transform: scale(1.1);
  z-index: 20;
}

.reserve {
  height: 50rem;
  background: linear-gradient(110deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 55%, rgba(186, 133, 84, 0) 55%, rgba(161, 79, 3, 0) 100%), url(../img/reserv-foto.jpeg) center/cover no-repeat;
  overflow: hidden;
}

.form {
  width: 60%;
  padding-top: 5rem;
  padding-left: 5rem;
}
.form__group:not(:last-child) {
  margin-bottom: 3rem;
}
.form__input {
  width: 55%;
  color: #000000;
  font-size: 1.6rem;
  font-weight: 400;
  padding: 2rem 0 2rem 2rem;
  background: #ffffff;
  border-radius: 0.3rem;
  box-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.1);
  border: none;
  border-bottom: 0.5rem solid transparent;
}
.form__input:focus {
  outline: none;
  border-bottom: 0.5rem solid rgb(102, 215, 99);
  box-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.1);
}
.form__input:focus:invalid {
  border-bottom: 0.5rem solid rgb(215, 99, 99);
  box-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.1);
}
.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
}
.form__input-radio {
  display: none;
}
.form__label {
  color: rgb(119, 119, 119);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.9rem;
  padding-left: 1rem;
  display: block;
  transition: 1s all;
  margin-bottom: 2rem;
}
.form__group-radio {
  width: 35%;
  display: inline-block;
  margin-bottom: 4rem;
}
.form__label-radio {
  cursor: pointer;
  position: relative;
  padding-left: 4rem;
}
.form__button-radio {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  border: 0.5rem solid #A14F03;
  display: block;
  position: absolute;
  left: 0;
  top: -0.4rem;
}
.form__button-radio::after {
  content: "";
  display: block;
  height: 1.4rem;
  width: 1.4rem;
  border-radius: 50%;
  background: #A14F03;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}
.form__input-radio:checked ~ .form__label-radio .form__button-radio::after {
  opacity: 1;
}

.card-adventure {
  padding: 2.5rem;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 0.5rem;
  text-align: center;
  transition: all 0.4s;
  max-height: 32rem;
}
.card-adventure:hover {
  transform: translateY(-1.5rem);
}

.cart-tours {
  width: 100%;
  height: 52rem;
  perspective: 150rem;
  position: relative;
}
.cart-tours__side {
  height: 50rem;
  transition: transform 0.5s ease-out;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  backface-visibility: hidden;
  box-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.1);
}
.cart-tours__side_back {
  background: linear-gradient(120deg, #BA8554, #A14F03);
  transform: rotateY(180deg);
}
.cart-tours:hover .cart-tours__side_front {
  transform: rotateY(-180deg);
}
.cart-tours:hover .cart-tours__side_back {
  transform: rotateY(0);
}
.cart-tours__img {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
  height: 21rem;
}
.cart-tours__img_1 {
  background: #BA8554 url(../img/cart-1.png) center/cover no-repeat;
}
.cart-tours__img_2 {
  background: #BA8554 url(../img/cart-2.png) center/cover no-repeat;
}
.cart-tours__img_3 {
  background: #BA8554 url(../img/cart-3.png) center/cover no-repeat;
}
.cart-tours__title {
  font-size: 2.8rem;
  font-weight: 300;
  line-height: 3.4rem;
  letter-spacing: 0.2rem;
  text-align: right;
  position: absolute;
  top: 17rem;
  right: 0rem;
}
.cart-tours__span {
  color: #ffffff;
  background: linear-gradient(90deg, #BA8554 3.646%, #A14F03);
  padding: 1rem 2rem 0.3rem 2rem;
}
.cart-tours__span_2 {
  position: absolute;
  top: 3.4rem;
  right: 0;
  padding-bottom: 1rem;
  padding-top: 0;
}
.cart-tours__info ul {
  list-style: none;
  padding: 3rem;
}
.cart-tours__info ul li {
  color: #777777;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.9rem;
  letter-spacing: 0.2rem;
  text-decoration-line: underline;
  text-align: center;
}
.cart-tours__info ul li:not(:last-child) {
  margin-bottom: 2rem;
}
.cart-tours__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.cart-tours__text {
  margin-bottom: 8rem;
  letter-spacing: 0.2rem;
  text-align: center;
  color: #ffffff;
}
.cart-tours__text_1 {
  font-size: 1.6rem;
  font-weight: 300;
}
.cart-tours__text_2 {
  font-size: 6rem;
  font-weight: 500;
}

.cart-feedback {
  width: 85%;
  background: rgba(255, 255, 255, 0.85);
  box-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  padding: 6rem;
  transform: skewX(-15deg);
}
.cart-feedback > * {
  transform: skewX(15deg);
}
.cart-feedback:not(:last-child) {
  margin-bottom: 8rem;
}
.cart-feedback__img {
  width: 17rem;
  height: 17rem;
  border-radius: 100rem;
  float: left;
  shape-outside: circle(50%);
  margin-right: 4rem;
  overflow: hidden;
  position: relative;
}
.cart-feedback__img img {
  width: 100%;
}
.cart-feedback__name {
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 2.9rem;
  letter-spacing: 0.2rem;
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -20%);
  opacity: 0;
  transition: all 0.4s;
}
.cart-feedback:hover .cart-feedback__name {
  transform: translate(-50%, -50%);
  opacity: 1;
}
.cart-feedback:hover img {
  filter: blur(0.7rem);
}

.header {
  position: relative;
  height: 95vh;
  background: linear-gradient(90deg, rgba(186, 133, 84, 0.7) 0.033%, rgba(0, 0, 0, 0.7) 99.941%), url(../img/header-background.jpeg) center/cover no-repeat;
  clip-path: polygon(0 80%, 100% 100%, 100% 0, 0 0);
}
.header__logo {
  position: absolute;
  left: 5rem;
  top: 5rem;
  height: 5.6rem;
  width: 7rem;
}
.header__box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}
.row:not(:last-child) {
  margin-bottom: 8rem;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}

.col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}

.col-1-of-3 {
  width: calc((100% - 2 * 6rem) / 3);
}

.col-2-of-3 {
  width: calc(2 * (100% - 2 * 6rem) / 3 + 6rem);
}

.col-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4);
}

.col-2-of-4 {
  width: calc(2 * (100% - 3 * 6rem) / 4 + 6rem);
}

.col-3-of-4 {
  width: calc(3 * (100% - 3 * 6rem) / 4 + 2 * 6rem);
}

[class^=col-] {
  float: left;
}
[class^=col-]:not(:last-child) {
  margin-right: 6rem;
}

.section-about {
  padding-top: 8rem;
}

.section-adventure {
  padding: 21rem 0;
  background: linear-gradient(93.43deg, rgba(186, 133, 84, 0.7) 16.331%, rgba(0, 0, 0, 0.7) 98.812%), url(../img/photo-ballons-section2.jpeg) center/cover no-repeat;
  clip-path: polygon(0 0, 100% 25%, 100% 100%, 0 85%);
}

.section-tours {
  padding-top: 21rem;
  position: relative;
}

.section-feedback {
  background: linear-gradient(90deg, rgba(186, 133, 84, 0.6) 35.937%, rgba(0, 0, 0, 0.6) 100%), url("../img/feedback.png") center/cover no-repeat;
  height: 120rem;
}

.section-reserve {
  background: linear-gradient(90deg, #BA8554, #A14F03);
  padding: 10rem;
}

/*# sourceMappingURL=style.css.map */
