//цвет текста
$color-gray: #777777
//основные цвета сайта 
$color-brown-lite: #BA8554
$color-brown-dark: #A14F03
//черный и белый цвет сайта
$color-white: #ffffff
$color-black: #000000

$shadow-h2:0rem .4rem .4rem rgba($color-black, .25)    

$margin-vertical-big: 8rem  
$grid-width: 114rem
$gutter-horizontal: 6rem      

//Типографика
$font-size-paragraph:1.6rem        