.section-about 
    padding-top: 8rem

.section-adventure 
    padding: 21rem 0
    background: linear-gradient(93.43deg, rgba($color-brown-lite, 0.7) 16.331%,rgba($color-black, 0.7) 98.812%), url(../img/photo-ballons-section2.jpeg) center / cover no-repeat 

.section-tours
    padding-top: 21rem 
    position: relative
    

